@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@include keyframes(rotate-bottom-left) {
  0% {
    -webkit-transform: rotate(-90deg);
  }
  25% {
    -webkit-transform: rotate(-75deg);
  }
  25% {
    -webkit-transform: rotate(-60deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
  }
  75% {
    -webkit-transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@include keyframes(rotate-top-right) {
  0% {
    -webkit-transform: rotate(90deg);
  }
  25% {
    -webkit-transform: rotate(75deg);
  }
  25% {
    -webkit-transform: rotate(60deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
  }
  75% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@include keyframes(color-grey-to-primary) {
  0% {
    color: $grey-6;
  }
  100% {
    color: $primary
  }
}