@import "Variables.scss";
@import "Font.scss";
@import "Animation.scss";

html,
body,
.root,
.App {
  height: 100vh;
  font-family: Segoe UI,Helvetica Neue,Helvetica,Lucida Grande,Arial,Ubuntu,Cantarell,Fira Sans,sans-serif;
}

header {
  background-color: $grey-1;
  height: 39px;
  padding: 10px 16px;
}

.App {
  background-color: $grey-5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Grow {
  flex-grow: 1;
}

input {
  border-radius: 18px;
  border-color: $grey-2;
  border-style: solid;
  outline: none;
  width: 100%;
  padding-left: 10px;
}

.InputContainer {
  display: flex;
  flex-grow: 0;
  width: 100%;
  padding: 5px 8px;

  input {
    padding-left: 65px !important;
  }

  svg {
    display: flex;
    align-self: center;
    position: absolute;
    margin-left: 18px;
    color: $grey-6;
  }
}

.InputSearch {
  input:focus + svg {
    @include animation(
      "rotate-bottom-left 200ms 1, color-grey-to-primary 800ms 1 forwards"
    );
  }

  input.InputContainer__InputTouched:not(:focus) + svg {
    @include animation(
      "rotate-top-right 100ms 1"
    );
  }
}
