@import "Variables.scss";

.ChatContent__Container {
	display: flex;
	flex-direction: column;
	position: relative;
	background-color: $bg-chat-color;

	.ChatContent__Container--Inner {
		display: flex;
		flex-grow: 1;
	}

	footer {
		display: flex;
		background-color: $grey-1;
		z-index: 0;
		padding: 5px 10px;
		height: 52px;

		div {
			display: flex;
		}
	}
}

.ChatContent__BgImage {
	background-image: url("../images/bg-chat-tile-light.png");
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.075;
}
