.NoPadding {
	padding: 0px!important;
}

.PyXs {
	padding-top: 4px!important;
	padding-bottom: 4px!important;
}

.PaSm {
	padding: 8px!important;
}

.PlSm {
	padding-left: 8px!important;
}

.MtXs {
	margin-top: 4px!important;
}

.MlSm {
	margin-left: 8px!important;
}