$breakpoint-xs: 650px;
$breakpoint-xs-sm: 900px;
$breakpoint-sm: 1024px;
$breakpoint-sm-md: 1280px;
$breakpoint-md: 1440px;
$breakpoint-lg: 1920px;

$secondary: #9de1fd;
$primary: #039be5;

$grey-1: #ededed;
$grey-2: #f6f6f6;
$grey-3: #ebebeb;
$grey-5: #d5dbda;
$grey-6: #919191;

$info: #00000073;
$title: #525252;
$contact-message: #00000099;
$avatar-bg: #dfe5e7;

$bg-chat-color: #f8f9fa;
$full-width: 100%;